
h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

td {
    background-color: #f8f8f8;
}

tr:hover td {
    background-color: #e9e9e9;
}


@media (max-width: 768px) {
    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 8px;
    }

    h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    table {
        font-size: 0.8rem;
        width: 200px;
    }

    th, td {
        padding: 6px;
    }

    h1 {
        font-size: 1.2rem;
    }
}
