.popular {
    text-align: center;
    
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 15px;
    background: #ffffff;
    width: 100%;
    

    
  }
  
  .popular h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .popular-item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .item {
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 15px;
    border: 1px solid #ffffff;
    background: #ffffff;
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .item img {
    width: 100%;
    height: 186px;
    border-radius: 2px;
  }
  
  .item h3 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .price {
    font-size: 1rem;
    color: #333;
  }
  
  .price span {
    color: #999;
    text-decoration: line-through;
  }
.View{
    margin-top: 33px;
    width: 150px;
        height: 40px;
        margin-left: 8px;
        border-radius: 5px;
        border: 1px solid #D6BDDB;
        background-color: #D6BDDB;
        color: #fefefe;
        font-size: medium;
        align-items: center;
    }
    
    #h1{
    
        
        
        padding: 15px;
        background: #D6BCD9;
        width: 100%;
        text-align: center;
        font-size: 5rem;
        
        
        font-weight: 900;
        height: 100px;
        text-align: center;
        font-family : 'Playfair Display', serif;
      font-style: italic; 
      
      
      
      transform: skew(-12deg); 
      letter-spacing: 0.05em; 
      line-height: 1.5; 
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
      
    }