
.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #text-center {
    margin-top: 111px; 
    margin-left: auto;
    font-family : 'Playfair Display', serif;
  font-style: italic; 
  font-size: 5rem;
  font-weight: 900;
  color: #c0392b; 
  transform: skew(-12deg); 
  letter-spacing: 0.05em; 
  line-height: 1.5; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  display: inline-block;
  
  }
  .text-center{

    font-family : 'Playfair Display', serif;
  font-style: italic; 
  font-size: 2rem;
  font-weight: 900; 
  color: #b26f5e;
  transform: skew(-1deg); 
  letter-spacing: 0.05em; 
  line-height: 1.5; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  display: inline-block;
  
  }
  #promo{
    font-family : 'Playfair Display', serif;
  font-style: italic; 
  font-size: 4rem;
  margin-left: 30%;
  font-weight: 900; 
  color: #ffffff; 
  display: inline-block;
  animation: promo 2s linear infinite;
  }
  @keyframes promo
    {
    from {color :#ffffff;}
    to {color : rgb(11, 11, 11);}
    }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    margin-bottom: 40px;
    font-size: 4rem;
  }
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px); 
  }

  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-body {
    padding: 15px;
    font-size: 4rem;
  }
  
  .card-title {
    font-size: 7rem;
    font-weight: bold;
    color: #db4f4f;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
  }

  .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h3 {
    color: #623dac;
    font-size: 1.25rem;
  }
  
  .btn-dark {
    background-color: #b199e1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-dark:hover {
    background-color: #4e2f99;
  }

  @media (max-width: 992px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 576px) {
    .product-grid {
      grid-template-columns: 1fr;
    }
  }
  