
.signin-page {
    margin-top: 32px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}


.signin-page form {
    border: 1px solid rgb(125, 125, 125);
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    backdrop-filter: blur(60px);
    box-shadow: 10px 10px 10px #623dac;
    padding: 20px;
    background-color: #E3D5D4;
}

.signin-page input {
    width: 400px;
    height: 30px;
    border: 1px solid #623dac;
    border-radius: 10px;
    margin: 10px;
    font-style: italic;
    font-size: 1.5rem;
}
#sbr{
    margin-left: 130px;
}

.signin-page input:hover {
    box-shadow: 10px 10px 10px #623dac;
}

/* Lien */
.signin-page a {
    text-decoration: none;
    color: #623dac;
    font-size: 20px;
}


.signin-page h1 {
    color: #623dac;
    font-size: xx-large;
    width: 200px;
    margin-left: 150px;
}


#submit-btn {
    background-color: #623dac;
    color: white;
    font-size: 15px;
}


.signin-page p {
    font-size: 15px;
    color: white;
}



@media (max-width: 768px) {
    form {
      padding: 15px;
      max-width: 100%;
    }
  
    h1 {
      font-size: 20px;
    }
  
    input {
      font-size: 14px;
      padding: 8px;
      width: 80%; /* Réduit à 80% la largeur des inputs */
    }
  
    #submit-btn {
      font-size: 14px;
      padding: 8px 15px;
      width: 80%; /* Réduit à 80% la largeur du bouton */
    }
  
    p {
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .signin-page {
      padding: 20px;
    }
  
    form {
      padding: 10px;
    }
  
    h1 {
      font-size: 18px;
      
    }
  
    #inp{
      font-size: 12px;
      padding: 6px;
      width: 70%; /* Réduit encore plus la largeur des inputs */
    }
  
    #submit-btn {
      font-size: 12px;
      padding: 8px 15px;
      width: 70%; /* Réduit la largeur du bouton */
    }
  
    p {
      font-size: 12px;
    }
    #sbr{
        margin-left: 52px;
    }
  }
  .signin-page form{
    margin-top: 85px;
  }